<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Offloc Router Test Suite">
            <directory>./tests/Offloc/Router</directory>
            <directory>./src/Offloc/Router/Api/Client/Tests</directory>
            <directory>./src/Offloc/Router/Api/Common/Tests</directory>
            <exclude>./src/Offloc/Router/Api/Client/Tests/bootstrap.php</exclude>
            <exclude>./src/Offloc/Router/Api/Common/Tests/bootstrap.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Offloc/Router/</directory>
            <exclude>
                <directory>./src/Offloc/Router/Api/Client/Tests</directory>
                <directory>./src/Offloc/Router/Api/Client/vendor</directory>
                <directory>./src/Offloc/Router/Api/Common/Tests</directory>
                <directory>./src/Offloc/Router/Api/Common/vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
